@tailwind base;
@tailwind components;
@tailwind utilities;

.master-z-index {
    z-index: 9999 !important;
  }


  @keyframes blink {
    0%, 50% {
      opacity: 1;
    }
    51%, 100% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 1s step-start infinite;
  }
